<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Item Management System</h1>
    <hr>
    <h2>Save Item</h2>
    <form th:action="${ACTION}" th:object=${ITEMDTO} method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label> <input type="text" th:field="*{name}" class="form-control" name="name" placeholder="Enter Name" id="name">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label>Image</label> <input type="file" th:field="*{image}" class="form-control" name="image" placeholder="Enter image" id="image">
        </div>
        <div class="form-group">
            <label>Detail</label> <input type="text" th:field="*{detail}" class="form-control" name="detail" placeholder="Enter detail" id="detail">
        </div>
        <div class="form-group">
            <label>Price</label> <input type="text" th:field="*{price}" class="form-control" name="price" placeholder="Enter price" id="price">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <button type="submit" class="btn btn-primary" >Add Item</button>
    </form>

    <hr>

    <a th:href="@{/admin/listItem}"> Back to Item List</a>
</div>
</body>

</html>